.card-desc {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    overflow: visible;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .card-desc-second {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    overflow: visible;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .card-title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .card-title-second {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    overflow: visible;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .all-cards{
    width: 90%;
    margin: 50px auto;
  }

  .card-size{
    width: 18rem;
    height: 30rem;
  }

  .one-card{
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-btn{
    position: absolute;
    top: 380px;
    right: 150px;
  }

  .card:hover{
    background-color: rgba(0,0,0,0.9);
    background-blend-mode: darken;
  }
  