.main-title{
    text-align: center;
    left: 50%;
    font-size: 2vw;
    font-family: 'chaparral-pro', 'liberation-serif', serif, Helvetica;
    padding: 5vw 5vw 0vw 5vw;
}

.main-text {
    text-align: center;
    font-family: 'chaparral-pro', 'liberation-serif', serif, Helvetica;
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    line-height: 33px;
    padding: 4vw 5vw 0vw 5vw;
}
  
.info{
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
    min-height: 30vw;
}

@media(min-width: 100px) {
    .main-title{
        font-size: 4.7vw;
    }
    .main-text{
        font-size: 3.2vw;
    }
}
@media(min-width: 500px) {
    .main-title{
        font-size: 3vw;
    }
    .main-text{
        font-size: 1.8vw;
    }
}

@media(min-width: 1000px) {
    .main-title{
        font-size: 2.5vw;
    }
    .main-text{
        font-size: 1.4vw;
    }  
}
@media(min-width: 1300px) {
    .main-title{
        font-size: 2vw;
    }
    .main-text{
        font-size: 1.2vw;
    }  
}

 