.main-picture{
    height: 600px;
    background-size: cover;
}
h1{
    font-size: 60px;
    
}

.hero-text {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .hero-image {
    background-image: url(daniel_can_darker.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
    height: 800px;
    background-size: cover;
    position: relative;
  }