.foo{
    background-color: #333;
    height: 25vh;
    margin-top: 20vh;
}

.foo-h3{
    padding-bottom: 12px;
}

.thumb{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 8vh;
}

.foo-content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 4vh;
}