body {
  overflow-x:hidden;
  margin: 0;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family: 'Tjofson';
  src: local('Tjofson'), url(./fonts/art-brewery/Art\ Brewery.ttf) format('truetype');
}
@font-face{
  font-family: 'Tjofsons';
  src:local('Tjofsons'), url(./fonts/vonique-64/Vonique\ 64.ttf) format('truetype');
}