.sps {
    z-index: 2;
    padding: 1em .5em;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    width: 100%;
}
.sps:hover{
    background-color: rgba(255, 255, 255, 1);
}
  
.sps--abv {
    background-color: rgba(255, 255, 255, 1);
}
  
.sps--blw {
    background-color: rgba(255, 255, 255, 1);
}
.aaa{
    color: greenyellow;
}
.nav-body:hover{
    background-color: rgba(255, 255, 255, 1);
}
.scroll {
    background-color: #f1f1f1;
}